<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL Detection</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <div class="logo">Acute Lymphoblastic Leukemia Detection</div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">ALL Detection Tool</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="details">
            <h2>Acute Lymphoblastic Leukemia (ALL):</h2>
            <p>Acute Lymphoblastic Leukemia, commonly referred to as ALL, is a type of cancer that affects the white blood cells. It usually starts in the bone marrow, where the body produces new blood cells. In ALL, the bone marrow produces an excessive number of immature lymphocytes, a type of white blood cell. These abnormal cells crowd out healthy blood cells, leading to various symptoms and complications.

                Symptoms of ALL may include fatigue, weakness, pale skin, frequent infections, easy bruising or bleeding, swollen lymph nodes, bone pain, and unexplained weight loss. ALL can occur in both children and adults, but it is the most common type of cancer diagnosed in children.
                
                Treatment for ALL typically involves chemotherapy, which uses drugs to kill cancer cells, and may also include radiation therapy and stem cell transplantation. The specific treatment approach depends on factors such as the patient's age, overall health, and the subtype of ALL.
                
                Advancements in medical research have improved the prognosis for many patients with ALL, particularly in children. With early detection and appropriate treatment, many individuals with ALL can achieve long-term remission and live fulfilling lives.
                
                </p>
            
        </section>
    </main>

    <main>
        <section class="details">
            <h2>CLAHE (Contrast Limited Adaptive Histogram Equalization):</h2>
            <p>
                Contrast Limited Adaptive Histogram Equalization (CLAHE) is a computer image processing technique used to enhance the contrast of images while limiting the amplification of noise. It is particularly useful for improving the visibility of details in images with non-uniform lighting conditions or low contrast.
                
                CLAHE works by dividing an image into small, overlapping regions called tiles. For each tile, the histogram equalization technique is applied to enhance the local contrast. However, to prevent the amplification of noise, the contrast enhancement is limited by constraining the cumulative histogram within a specified intensity range. This ensures that the enhancement is controlled and does not lead to overly bright or dark regions in the image.
                
                CLAHE is commonly used in various fields such as medical imaging, satellite imaging, and digital photography. In medical imaging, CLAHE can help radiologists visualize subtle details in X-ray, MRI, or CT scan images, which may aid in diagnosis and treatment planning. In satellite imaging, CLAHE can improve the clarity of aerial photographs, allowing for better interpretation of geographic features or monitoring of environmental changes.
                
                Overall, CLAHE is a valuable tool for enhancing image contrast and improving the interpretability of images in various applications. Its adaptive nature and ability to control contrast make it a versatile technique for improving image quality in diverse imaging scenarios.
                </p>
            
        </section>
    </main>
</body>
</html>
